{% extends 'main/layout1.html' %}

{% block title %}
Контакты - ООО Автошкола «Горизонт»
{% endblock %}

{% block content %}

<div class="content" style="margin-top:-25px;">

	<div class="row text-center">
      <div class="col-12">
        <h2 class="section-title">Всегда готовы ответить на все ваши вопросы:</h2>
        <h3 class="section-sub-title">Наша контакты:</h3>
      </div>
    </div>

	<div class="text">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p><strong>Телефон:</strong> <a href="tel:+7910476379">+7(910)476-37-95</a>, <a href="tel:+79031585428">+7 (903)158-54-28</a><br>
<strong>E-mail:</strong> <a href="malto:gorizont_auto@mail.ru">gorizont_auto@mail.ru</a><br>
<strong>Адрес:</strong> г. Чехов, ул. Полиграфистов 1 корпус Б, офис 201 5 и</p>
<p>Приёмные часы для записи на обучение:<br>
вт/пт с 10:00 до 17:00<br>
вс с 10:00 до 16:00</p>
<h2>Схема проезда</h2>
<p><iframe src="https://yandex.ru/map-widget/v1/?lang=ru_RU&amp;scroll=true&amp;um=constructor%3A1926ce4249c3f4146c4d06eaa75c163992ee55323e27273669739ff7043682ea" frameborder="0" allowfullscreen="true" width="100%" height="450px" style="display: block;"></iframe></p>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}