{% extends 'main/layout1.html' %}

{% block title %}
Цены на обучение - ООО Автошкола «Горизонт»
{% endblock %}

{% block content %}

<div class="content" style="margin-top:-25px;">
	<div class="text">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p>В Чехове достаточно большой выбор автошкол, предлагающих пройти курс обучения вождению автомобиля по самой низкой стоимости. Чтобы не пожалеть о потраченных зря деньгах, необходимо тщательно подойти к выбору учебного заведения!</p>
<p><strong>Проверьте</strong> <strong>на официальном сайте ГИБДД Московской области</strong> информацию о разрешении на право обучения в г. Чехов по ссылке <a href="https://гибдд.рф/drivingschools">https://гибдд.рф/drivingschools</a> (в поисковике указать г. Чехов)</p>
<p>Автошкола «Горизонт» предлагает качественное обучение по программе, согласованной с Управлением ГИБДД.</p>
<p>Оплата в рассрочку делает наши услуги доступными всем группам населения.</p>
<table width="602">
<tbody>
<tr>
<td colspan="2" width="602"><strong>Стоимость обучения</strong></td>
</tr>
<tr>
<td>Категория В (МКПП)</td>
<td>45 000 руб.</td>
</tr>
<tr>
<td>Категория В (МКПП) специальные условия</td>
<td>30&nbsp;000 руб.</td>
</tr>
<tr>
<td>Категория В (АКПП)</td>
<td>45 000 руб.</td>
</tr>
</tbody>
</table>
<h2>В тарифах, приведенных выше, учитываются:</h2>
<p>— Занятия по теории (изучение Правил дорожного движения, устройство авто и т.д.)<br>
— Практическое вождение<br>
— Страховка<br>
— ГСМ<br>
— Топливный сбор<br>
— Внутренний экзамен<br>
— Предоставление учебного автомобиля на сдачу экзаменов в ГИБДД.</p>
<p>Указанные цены – окончательные и не повышаются в процессе обучения. Мы гарантируем отсутствие скрытых платежей и дополнительных сборов.</p>
<h2>Дополнительные услуги по восстановлению навыков вождения</h2>
<p>Стоимость 1 учебного часа с учетом топливного сбора составит:</p>
<p>Категория «В» МКПП – 1 000 рублей;<br>
Категория «В» АКПП – 1 000 рублей;</p>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}