{% extends 'main/layout1.html' %}

{% block title %}
Вакансии - ООО Автошкола «Горизонт»
{% endblock %}

{% block content %}

<div class="content" style="margin-top:-25px;">
	<div class="text">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<pre><strong>Открыта вакансия на должность инструктора кат "В" МКПП, АКПП. </strong>
 -- Водительский стаж от 5 лет.
 -- На собеседовании обязательная сдача ПДД.
 -- Рассматриваем возможность работать на вашей машине, но и у нас большой автопарк.
 -- Ищем хорошего педагога готового работать в соответствии с правилами и принципами школы.

Договариваться о встрече по телефону <strong>8(910)476-37-95- Дмитрий
или заполните форму:
</strong></pre>
<div role="form" class="wpcf7" id="wpcf7-f159-o2" lang="ru-RU" dir="ltr">
<div class="screen-reader-response"></div>
<form action="/job/#wpcf7-f159-o2" method="post" class="wpcf7-form" novalidate="novalidate">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="159">
<input type="hidden" name="_wpcf7_version" value="5.1.3">
<input type="hidden" name="_wpcf7_locale" value="ru_RU">
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f159-o2">
<input type="hidden" name="_wpcf7_container_post" value="0">
<input type="hidden" name="g-recaptcha-response" value="03AFcWeA4f63MLoE3kAVSY0CSKiah0JaWGLQSA2HUlNLu3LEUpCqUen7iXBITgCxzLZCXvolxzveS58T0ihztSrtTqKQykcKkqI_zpZRsufmrPgEP3QHr5W7L3zzkmiuN_E7gsSAjpRYpJxq3EZZXuSD4fxJaiB7OJRxQedWxuanQXRWrZpLpRfGhoSRWVkZGAtewFITPi_U7caxtqcV3yZtL9yJhlyuKqHMYpdTYRwfBkWov93DBo5JMoNpdX1K7TnWQEPs4nofaBfm2JYZChlu5tLDt0GWeNANspoMPgfgfljJ_UV0_D6kSPJKIZ88YACExP-43wu2L1vwq4Hb-4DztdKAwX46siITaDspAJAaL5aD9coZ9yJSDHm6RRxWA0NQU8zQEVDvOuGjPrpoWfycaDUIUwhZOIghUkdz0kcAaVEupiATKATNs4XIBKaiKIcEyBrqW0p3shZ1hsXYzzKrsKpAUClbg0qEBn_4TZbY8ZfTXkQ6g47btefzoH4R6-_QlLmUcdRqQhiaQbyZD2_AB9V5_vkytQXlXPwfH8k0gHxfrX7gyB4Qc">
</div>
<p><label> Ваше имя (обязательно)<br>
    <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false"></span> </label></p>
<p><label> Ваш телефон (обязательно)<br>
    <span class="wpcf7-form-control-wrap tel-774"><input type="tel" name="tel-774" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" aria-required="true" aria-invalid="false"></span> </label></p>
<p><label> Расскажите о себе и о своем опыте работы<br>
    <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"></textarea></span> </label></p>
<p><input type="submit" value="Отправить" class="wpcf7-form-control wpcf7-submit"><span class="ajax-loader"></span></p>
<div class="wpcf7-response-output wpcf7-display-none"></div></form></div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}